<%- include('_header'); -%>
<div class="inner-stage">
  <div>
    <h1>Recover Profile</h1>
    <p class="text-sm"><%= LSP11ContractAddress; %></p>
  </div>

  <i id="loading" class="fas fa-2x fa-circle-notch fa-spin hidden"></i>

  <div class="w-full">
    <input
      id="token"
      type="number"
      placeholder="Enter 6-digit code from you auth app"
      class="input input-bordered w-full mb-4"
    />
    <p id="error-message"></p>
  </div>
  
  <button class="btn btn-primary" onclick="verify()">Verify</button>
</div>

<script>
  function verify() {
    var token = document.getElementById("token").value;
    console.log("token", token);

    showLoading(true);

    let data = {
      LSP11ContractAddress: "<%= LSP11ContractAddress; %>",
      newOwner: "<%= newOwner; %>",
      token,
    };

    fetch("/api/recover", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data),
    }).then((res) => {
      showLoading(false);
      console.log("Request complete! response:", res);
      res.json().then((data) => {
        console.log("data", data);
        showError();

        if (res.status === 200) {
          window.opener.postMessage(
            { lsp11RecoveryService: { success: true, data } },
            "*"
          );
        } else {
          showError(data.error);
        }
      });
    });
    // var url = "/recover/" + address + "/" + token;
    // window.location.href = url;
  }

  function showLoading(yes) {
    const loading = document.getElementById("loading");
    if (yes) {
      loading.style.display = "block";
    } else {
      loading.style.display = "none";
    }
  }

  function showError(text) {
    const errorMessage = document.getElementById("error-message");
    errorMessage.innerHTML = text ?? "";
  }
</script>

<%- include('_footer'); -%>
